<div class="todoList">
  <form class="todoList__form"
        [formGroup]="form" (ngSubmit)="submit()">
    <div class="todoList__form-control">
      <input class="todoList__form-input"
             maxlength="30"
             type="text"
             placeholder="new todo"
             formControlName="title">
      <button type="submit"
              [disabled]="form.invalid">SEND
      </button>
    </div>
  </form>
  <span *ngIf="form.invalid"
        class="todoList__form-warning">введите от 1 до 30 символов
  </span>
  <ngb-pagination class="d-flex justify-content-center pagination-todo todoList__pagination-item"
                  size="sm"
                  [collectionSize]="collectionSize"
                  [(page)]="page"
                  (pageChange)="loadPage()"
                  [pageSize]="limit"
                  [maxSize]="4">
  </ngb-pagination>
  <div class="todoList__container">
    <div *ngIf="!visibleLoader; else loader"
         class="todoList__wrapper-item">
      <ng-container *ngFor="let item of data; index as i">
        <div class="todoList__item"
             [ngClass]='item.completed ? "todoList__item-complete" : ""'
             (click)="completeTodoItem(item, i)">
          <div class="todoList__item-text"
               [ngClass]='item.title.length >= 16 ? "todoList__item-wrap-text" : ""'>
            {{item.title}}
          </div>
          <div (click)="deleteItem(item)"
               class="todoList__btn-drop">X
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="todoList__loader"></div>
</ng-template>
