<div class="todoList">

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__control">
      <input type="text" placeholder="new todo" formControlName="title">
    </div>
    <button type="submit" [disabled]="form.invalid">SEND TODO</button>
  </form>
  <span *ngIf="form.invalid" style="color: red; font-size: 8px">введите 1 до 30 символов</span>
<div class="todoList__container" [ngClass]='data.length < 10 ? "todoList__media-container" : ""'>
  <div *ngIf="!visibleLoader; else loader">
  <ng-container *ngFor="let item of data; index as i">
    <div class="todoList__item">
        <div class="todoList__text"
             [ngClass]='item.completed ? "todoList__complete" : ""'
             (click)="completeTodoItem(item, i)">
            {{item.title}}
        </div>
      <div
      (click)="deleteItem(item)"
      class="todoList__btn-drop">X
    </div>
    </div>
  </ng-container>
  </div>
</div>
  <ngb-pagination class="d-flex justify-content-center pagination-todo"
                  [collectionSize]="collectionSize"
                  size="{{limit}}"
                  [(page)]="page"
                  (pageChange)="onPageChanged($event)">

  </ngb-pagination>
</div>
<ng-template #loader>
  <div class="loader"></div>
</ng-template>
